{% extends 'blogapp/base.html'%}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Us</h3>
    
    <p class="text-white">Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Cum in debitis illum,
         quisquam incidunt tempora animi. Incidunt,
          laudantium doloremque minus quis architecto
           officia vero assumenda tempora maxime 
           accusamus fugiat debitis!</p>

    <p class="text-white">Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Cum in debitis illum,
         quisquam incidunt tempora animi. Incidunt,
          laudantium doloremque minus quis architecto
           officia vero assumenda tempora maxime 
           accusamus fugiat debitis!</p>
</div>



{% endblock content %}