<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Django Filters</title>
    <style>
        body{
            background-color: lightgray;
            margin: 0;
        }

        h1 {
            color: rgb(0, 0, 0);
        }

        .myclass {
            background-color: lightslategray;
            width: 100%;
            text-align: center;
            padding-bottom: auto;
        }

    </style>
</head>
<body>
    <div class="myclass">

        {% if myname == 'Moin Malik' %}

        <h1>{{myname}}</h1>

        {% endif %}

    </div>
</body>
</html>