{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Latest Posts</h1>
        {% for post in latest_posts %}
            <div class="row" style="margin-top:100px; float:left">
                <a href="{{post.url}}">
                <div class="col-sm-3">
                    {% image post.image fill-300x300 as img %}
                    <img src="{{img.url}}" alt="{{img.alt}}">
                </div>
                <div class="col-sm-9">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}